# Configurações do Banco de Dados
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=order_management
DB_PORT_EXTERNAL=5433

# Configurações do RabbitMQ
RABBITMQ_HOST=rabbitmq

# Configurações de Portas das Aplicações
API_PORT_EXTERNAL=5261
FRONTEND_PORT_EXTERNAL=5174